---
  email: "user@domain.com"
  password: "supersecret"
  messages_url: "https://company.flowdock.com/flows/main/apps/chat/messages"
  post_url: "https://company.flowdock.com/messages"
  flow_url: "https://company.flowdock.com/flows/main.json"
  uuid: "xxxxxxxx"
  chartbeat:
    domain: "yourwebsite.com"
    key: "secretapikey"